<div class="ekart--search--product">
    <input class="ekart-search-product-input" #searchInput>
    <!-- [(ngModel)]="searchText" 
    (input)="onSearchTextChanged()" -->
    
    <button class="brn btn-search" (click)="updateSearchText(searchInput)">Search</button>
    <!-- [ngClass]="{'btn': true, 'btn-search': searchText, 'btn-search-disabled': !searchText}" [disabled]="!searchText" -->
</div>
<div class="ekart-search-result-for">
    <p *ngIf="searchText != ''"><strong>Search result for:</strong> {{ searchText }} </p>
</div>

<!-- false, '', null, undefined and 0 = false value -->